<!DOCTYPE html>
<html>
<head>
  <title>LitLives</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  <%= current_user.username %>
  <%= button_to "Close", session_url, method: :delete %>
  <% end %>

<%= yield %>

<footer>
  This is the footer for the page
</footer> 

</body>
</html>
